*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: black;
}

header{
        background-color: white;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 6rem;



}